{{ attributes | join(',') }}
{%- for record in result.records | default([]) %}
{{ '\n' -}}
{%- for attribute in attributes %}
"{{ record[attribute] | default('') | string | replace('"', '""') }}"{% if not loop.last %},{% endif %}
{%- endfor %}
{%- endfor %}